In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data = {'planet': ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'], 
        'moons': [0, 0, 1, 2, 80, 83, 27, 14]
       }
df = pd.DataFrame(data)

In [33]:
planet.head()
print(df[df['moons'] < 20])

    planet  moons
0  Mercury      0
1    Venus      0
2    Earth      1
3     Mars      2
7  Neptune     14

In [37]:
mask = df['moons'] < 20
df[mask]
#df.loc[mask, 'planet']

    planet  moons
0  Mercury      0
1    Venus      0
2    Earth      1
3     Mars      2
7  Neptune     14